/build
.DS_Store
/nori
/warptest
/ext_build
/scenes/cubemap/*/*.txt
CMakeCache.txt
CMakeSettings.json
CMakeFiles
Makefile
*.cmake
.ninja_deps
.ninja_log
build.ninja
rules.ninja
.vs
.vscode
/out
*.sublime-workspace
*.sublime-project
*.vcxproj
*.filters
*.sdf
*.sln
*.dir
*.opendb
/src/*.pdb
/scenes/pa2/ajax.obj
Debug
x64